<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sobre Mi</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hola, 
          Mi Nombre es María Dolores Martínez Chilla, tengo 22 años de edad, soy de la ciudad de Latacunga perteneciente 
          a la provincia de Cotopaxi, pero por motivos de estudios actualemente radico en la ciudad de Riobamba
          perteneciente a la provincia de Chimborazo.</p>
      </div>
      <div class="col-lg-4">
        <p>Soy una chica muy amigable y sociable me gusta hacer amigos en todos los lugares que visito
          Tengo una personalidad muy carismática, no me dejo agobiar por las tristezas y siempre le veo
          el lado bueno a las cosas que pasan! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
