<!-- Contact Section -->
<section id="Contacto">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact Me</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <form action="//formspree.io/{{ site.email }}" method="POST" name="sentMessage" id="contactForm" novalidate>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="name">Nombre</label>
              <input type="text" name="Nombre" class="form-control" placeholder="Nombre" id="Nombre" required
                data-validation-required-message="Ingrese su Nombre.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="Correo Electronico">Correo Electrónico</label>
              <input type="email" name="_replyto" class="form-control" placeholder="Correo Electronico" id="Correro Electronico" required
                data-validation-required-message="Ingrese el correo electronico.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div>
            <input type="hidden" name="_subject" value="New submission!">
            <input type="text" name="_gotcha" style="display:none" />
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="Mensaje">Mensaje</label>
              <textarea rows="5" name="Mensaje" class="form-control" placeholder="Mensaje" id="Mensaje" required
                data-validation-required-message="Ingrese el mensaje."></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="row">
            <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-success btn-lg">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
